.contact {
    margin-bottom: 60px;
    h1{
        padding: 20px;
    }
    .df {
        .map {
            padding: 20px;
            justify-content: center;
            align-items: center;
            iframe {
                width: 100%;
                border-radius: 10px;
            }
        }
        .form {
            padding: 20px;
          form
          {
            >div{
             
                margin-bottom: 10px;
            }
          }

            button {
                color: #fff;
                font-size: 17px;
                padding-left: 30px;
                padding-right: 30px;
                border: 0 solid;
                border-radius: 5px 5px 5px 5px;
                background-color: #6b0aa8;
                align-self: center;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                height: 50px;
                background-repeat: no-repeat;
                margin-top: 16px;
            }
        }
    }
}
